body
{
    background-image: url("background6.jpg");
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.h{
    text-align: center;
    margin-top: 50px;
    color:black;
    font-size: 50px;
    font-family: 'Lucida Handwriting';  
    }

.image{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulsing 3s ease-in-out infinite;
    /* box-shadow: 0 0 100px rgb(163, 107, 87); */
    box-shadow: 0 0 100px rgb(240, 152, 142); 
}
/* .image:hover{
    color: #111; 
    background: greenyellow; 
    box-shadow: 0 0 100px black; 
} */

@keyframes pulsing{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.intro{
    text-align: center;
    margin-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}

.skills:hover{
    transition: 2s all ease-in-out;
    box-shadow: 0 0 100px rgb(240, 152, 142);
    border-radius: 25px;
}

.Qualities{
    padding-top: 10px;
    text-align: center;
}

.Qualities:hover{
    transition: 2s all ease-in-out;
    box-shadow:10px 10px 100px rgb(240, 152, 142);
    border-left: 100px;
    border-radius: 25px;
}

.foot{
    background-color: darkslategray;
    text-align: center;
    margin-top: 100px;
    padding: 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a,
.dropbtn {
  display: inline-block;
  padding: 10px 16px;
  padding-left: 30vh; 
  text-decoration: none;
}

@media screen and (max-width:600px){
    p.intro, .skills{
        width: 80vw;
        margin-left: 10vw;
        font-size: 3vw;
    }

    .foot ul li{
        margin-left: 5vw;
        display: list-item;
    }

    li a,   
    .dropbtn {
        display: inline-block;
        text-decoration: none;
    }

    .foot{
        background-color: darkslategray;
        margin-top: 100px;
        padding: 50px;
    }


}
